@model Library1.Models.Book

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>


<div class="panel panel-heading">
    <meta name="viewport" content="width=device-width" />
    <h1>Delete Book</h1>


    <h3>Are you sure you want to delete this book?</h3>
    <div>

        <hr />
    </div>
    <div class="panel panel-body">
        <div class="col-sm-12">


            <br />

            <div class="DeleteBook">
                <img src="@Url.Content(Model.Image)" alt="Book" class="img-rounded" height="100" width="100"
                     style="border-color:black" id="delete" title="Author: @Html.DisplayFor(model => model.Author)
                     Title: @Html.DisplayFor(model=>model.Name)" />

            </div>
            <br />

            <div>
                @if (Model.OnLoan == 1)
                {
                    <p>On Loan</p>
                }

                else
                {
                    <p>Available</p>
                }
            </div>


        </div>
    </div>

</div>

<div class="panel panel-body">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary btn-lg" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

@section scripts{



    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/App/Tooltip.js"></script>


}